<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>CRUD  Operations of Courses</title>
    <style>
        body{
        background-image: url("https://img.itinari.com/pages/images/original/b1a657c6-ab9c-419b-a01f-18b4ee6aee8f-859736_566333610053089_601075272_o.jpg?ch=DPR&dpr=1&w=1200&h=800&s=22058c73c1230f63cea18e7e14524f3e");
        background-repeat: no-repeat;
        background-size: cover;
        }
        .authorName{
            font-size: 50px;
            color: white;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50">
            <h2><a th:text="${message}"/></h2>
            <form action="/course/id" method="GET">
                <h2 class="text-danger text-center"> Find Course by Id</h2>
                <div class="d-flex">
                    <br>  <input required class="form-control" type="text" name="id">
                    <input type="submit" class="btn btn-warning btn-sm mt-2 ml-2" value="FindById">
                </div>
                <p style="color:red"  th:text="${message1}"></p>
            </form>
            <div class="d-flex">
                <form action="/course/courselevel" method="get">
                    <button class="btn btn-warning btn-sm mt-2"  type="submit"> Get course  Which is Hard</button>
                </form>

                <form action="/course/prerequisite" method="get" class="d-flex ml-3">
                    <button class="btn btn-warning btn-sm mt-2"  type="submit"> Get course  Which has Prerequisite</button>
                    <a class="btn btn-warning btn-sm mt-2 ml-3" href="/student/"> Go to Student Index page</a>
                </form>
            </div>
            <div class="mt-5 w-100">
                <h1 class="text-center authorName">Hasan Naghiyev</h1>
                <div class="forButton w-100 d-flex justify-content-center mt-5">
                    <a class="btn btn-success btn-sm mt-2" href="/course/list"> Click Here to see Course List</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>